#does {
    max-width: 1924px;
    margin: 20px auto 160px;
}

@media only screen and (max-width: 768px) {
    #does {
        margin: 0 auto 80px;
    }

    p {
        font-size: 13px;
    }

    h2 {
        font-size: 20px ;
    }
}