.about_banner_container {
    background-color: #ffffff;
    box-shadow: 0 4px 15px 0 #00000014;
    border-radius: 15px;
    padding: 40px 60px;
    text-align: center;
}

.about_banner_container span {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #000000;
}

.about_banner_container > h2 {
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0;
    color: #19288A;
    margin-bottom: 15px;
}

.about_banner_container > p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #606060;
    margin-bottom: 35px;
}

#info {
    margin-bottom: 95px;
}

.info_title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: #0F2358;
    margin-bottom: 22px;
}

.info_text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #0F2358CC;
    margin-bottom: 22px;
}

#companyMilestones {
    margin-bottom: 120px;
}

#companyMilestones h2 {
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0;
    text-align: center;
    color: #19288A;
    margin-bottom: 40px;
}

#companyMilestones p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0F2358CC;
    margin-top: 60px;
}

#team {
    margin-bottom: 120px;
    text-align: center;
}

.team_title {
    font-family: Poppins;
    font-size: 42px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0em;
    color: #19288A;
    margin-bottom: 25px;
}

.team_name {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #19288A;
    margin-top: 15px;
}

.team_position {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
}

.team_view {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #F08D0B;
}

.team_view:hover {
    color: #f0800b;
}

@media screen and (max-width: 992px) {
    .about_banner_container {
        padding: 20px 30px;
    }

    #info,
    #companyMilestones {
        margin-bottom: 55px;
    }

    #companyMilestones h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    #companyMilestones p {
        font-size: 12px;
        margin-top: 30px;
    }

    #team {
        margin-bottom: 60px;
    }
}